body{
    background-color: rgb(54, 101, 172);
}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
    color: white;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

@media (orientation: portrait) {
    table {
        transform: rotate(90deg);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        overflow: visible;
    }
    main {
        min-height: 100vh;
    }
    table {
        width: 10vw;
        height: 50vh;
        min-width: 400px;
        min-height: 400px;
    }
}
